USE [master]
GO
/****** Object:  Database [moon]    Script Date: 28/07/2025 09:08:29 ******/
CREATE DATABASE [moon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'moon', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\moon.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'moon_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\moon_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [moon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [moon]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28/07/2025 09:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 28/07/2025 09:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [nvarchar](450) NOT NULL,
	[ProductId] [nvarchar](450) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_CartItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 28/07/2025 09:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryLogs]    Script Date: 28/07/2025 09:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryLogs](
	[Id] [nvarchar](450) NOT NULL,
	[ProductId] [nvarchar](450) NOT NULL,
	[Change] [int] NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_InventoryLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 28/07/2025 09:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[Id] [nvarchar](450) NOT NULL,
	[OrderId] [nvarchar](450) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[IssuedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 28/07/2025 09:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [nvarchar](450) NOT NULL,
	[OrderId] [nvarchar](450) NOT NULL,
	[ProductId] [nvarchar](450) NOT NULL,
	[ProductName] [nvarchar](450) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Total]  AS ([Quantity]*[UnitPrice]) PERSISTED,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 28/07/2025 09:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [nvarchar](450) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[Province] [nvarchar](255) NOT NULL,
	[District] [nvarchar](255) NOT NULL,
	[Ward] [nvarchar](255) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[PaymentMethod] [nvarchar](100) NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[ShippingFee] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 28/07/2025 09:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[CategoryId] [nvarchar](450) NOT NULL,
	[ImageUrlsJson] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28/07/2025 09:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Role] [bit] NOT NULL,
	[Avatar] [varbinary](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250712044905_InitialCreate', N'9.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250712094658_AddAvatarToUser', N'9.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250723132652_AddCartItemTable', N'9.0.7')
GO
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (N'PK001', N'Móc khóa')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (N'PK002', N'Lót chuột')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (N'PK003', N'Áo thun')
GO
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [ProductName], [Quantity], [UnitPrice]) VALUES (N'CTHD001', N'HD001', N'SP005', N'Lót chuột Sharingan', 5, CAST(45000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [ProductName], [Quantity], [UnitPrice]) VALUES (N'CTHD002', N'HD001', N'SP008', N'Lót chuột Goku', 3, CAST(50000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [ProductName], [Quantity], [UnitPrice]) VALUES (N'CTHD003', N'HD002', N'SP005', N'Lót chuột Sharingan', 1, CAST(45000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Orders] ([Id], [UserId], [FullName], [PhoneNumber], [Province], [District], [Ward], [Note], [PaymentMethod], [OrderDate], [ShippingFee], [TotalAmount], [Status]) VALUES (N'HD001', N'ND04', N'Nguyễn Quốc Dửng', N'0988661658', N'86', N'858', N'29626', N'demo', N'COD', CAST(N'2025-07-27T16:15:49.1533847' AS DateTime2), CAST(30000.00 AS Decimal(18, 2)), CAST(405000.00 AS Decimal(18, 2)), N'Thành công')
INSERT [dbo].[Orders] ([Id], [UserId], [FullName], [PhoneNumber], [Province], [District], [Ward], [Note], [PaymentMethod], [OrderDate], [ShippingFee], [TotalAmount], [Status]) VALUES (N'HD002', N'ND04', N'Trần Hữu Thọ', N'0349599120', N'89', N'892', N'30619', N'Thọ ngầu', N'COD', CAST(N'2025-07-27T16:57:11.8924070' AS DateTime2), CAST(30000.00 AS Decimal(18, 2)), CAST(225000.00 AS Decimal(18, 2)), N'Thành công')
INSERT [dbo].[Orders] ([Id], [UserId], [FullName], [PhoneNumber], [Province], [District], [Ward], [Note], [PaymentMethod], [OrderDate], [ShippingFee], [TotalAmount], [Status]) VALUES (N'HD003', N'ND04', N'Trần Hữu Thọ', N'0349599120', N'15', N'140', N'4687', N'demo', N'COD', CAST(N'2025-07-27T17:03:25.9440222' AS DateTime2), CAST(30000.00 AS Decimal(18, 2)), CAST(180000.00 AS Decimal(18, 2)), N'Đã huỷ')
GO
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [StockQuantity], [CategoryId], [ImageUrlsJson]) VALUES (N'SP001', N'Móc khóa Luffy Gear 8', N'Móc khóa mô phỏng Luffy Gear 5 từ One Piece, chất liệu acrylic cao cấp.', CAST(45000.00 AS Decimal(18, 2)), 25, N'PK001', N'["/uploads/sw.jpg"]')
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [StockQuantity], [CategoryId], [ImageUrlsJson]) VALUES (N'SP002', N'Lót chuột Tanjiro Kamado', N'Lót chuột cao su in hình Tanjiro Kamado (Kimetsu no Yaiba), chống trượt, kích thước 30x80cm.', CAST(95000.00 AS Decimal(18, 2)), 1, N'PK002', N'["/uploads/22499.png"]')
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [StockQuantity], [CategoryId], [ImageUrlsJson]) VALUES (N'SP003', N'Móc khóa Naruto', N'Móc khóa nhựa cứng in hình Naruto', CAST(25000.00 AS Decimal(18, 2)), 113, N'PK001', N'["/uploads/3.jpg"]')
GO
INSERT [dbo].[Users] ([Id], [Name], [Email], [Password], [Phone], [Role], [Avatar]) VALUES (N'ND01', N'Trần Hữu Thọ', N'ht@gmail.com', N'ht', N'0349599122', 1, NULL)
INSERT [dbo].[Users] ([Id], [Name], [Email], [Password], [Phone], [Role], [Avatar]) VALUES (N'ND02', N'Nguyễn Quốc Dửng', N'qd@gmail.com', N'qd', N'0349599123', 1, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 28/07/2025 09:08:30 ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((30000)) FOR [ShippingFee]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'Chờ xác nhận') FOR [Status]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Products]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Users]
GO
ALTER TABLE [dbo].[InventoryLogs]  WITH CHECK ADD  CONSTRAINT [FK_InventoryLogs_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[InventoryLogs] CHECK CONSTRAINT [FK_InventoryLogs_Products]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Orders]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Users]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
USE [master]
GO
