@{
    Layout = null;
    ViewData["Title"] = "Cảm ơn";
}


<h2>Cảm ơn bạn đã đặt hàng!</h2>
<p>Đơn hàng của bạn đã được tiếp nhận. Chúng tôi sẽ liên hệ sớm nhất có thể.</p>
<a asp-controller="Home" asp-action="Index">Quay lại trang chủ</a>
